<!DOCTYPE html>
<html lang="en">
<head>
    <!--  הצגת והוספת שיר בודד -->
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Zumba lessons management</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css" integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik:Semi-bold+600,Black+900">
	<link href="{{ url_for('static', filename='my.css') }}" rel="stylesheet" type="text/css">

</head>
<body>
<div>
  <div class="header">
    <h1>Zumba lessons management - Made easy<br>You won't believe it!</h1>
  </div>
  <div id="ancor_location" class="button">
	<h2><u>Song Searcher</u></h2>
  </div>
  <div>
	<form id="song_form" action="{{ url_for('.song_searcher') }}" method="get" enctype="multipart/form-data">	
		<div class="form-row">
			<div class="form-group col-md-2">
				<label for="Genre_id">I want a Song of this Genre</label>
				<select class="form-group col-md-10" name="genre_id" id="genre_id" value='{{genre_id}}'>
				<option value="None">Select Genre</option>
					{% for row in genres_data %}
					<option value="{{ row[0] }}">{{ row[1] }}</option>
					{% endfor %}
				</select>
			</div>
			<div class="form-group col-md-10">
				<label for="Performers">I want a Song of this Performer</label>
				<select class="form-group col-md-10" name="performer_id" id="performer_id" value='{{performer_id}}'>
					<option value="None">Select performer</option>
						{% for row in artists_data %}
						<option value="{{ row[0] }}">{{ row[1] }}</option>
						{% endfor %}
				</select>
			</div>
			<input type=hidden id="mode" name="mode" value=Search>
			<button type="submit" class="btn btn-info"><strong>Search</strong></button>
        </div>
	</div>
	<div class="results left button" id="Events"><h4><u>Results {{display_message}}</u></h4>
		<table>
		<tr id="table_caption">
			<th> Name </a></th><th> Length </th><th> Genre </th>
		</tr> 

		{% for row in found_data %}
		<tr>
			<th><a href="{{ url_for('.single_song_management', song_id=row[0], _anchor='ancor_location')}}" title="Edit or Delete Song"> {{ row[1] }}</a></th><th> {{ row[2] }}</th><th> {{ row[3] }}</th>
		</tr> 
		{% endfor %}
		</table>
	</div>
	<div>
	<p id="homepage" class="col-auto"> <strong>Back to <a href="{{ url_for('.management', _anchor='ancor_location') }}">Homepage  </a></strong> </p>
	</div>
  
  <div class="footer">
  <p>All rights reserved to Hadas Kedar <a href="mailto:hadasit@gmail.com"> E-mail</a></p>
  
  </div>
</div>

</body>
</html>
